$firstcolor: #e2ca82;
$secondColor: #fdf7e5;
$thirdColor: #fdf7e5;
$darkcolor: #333;

html {
	font-family: "Montserrat", sans-serif;
	scroll-behavior: smooth;
	scroll-padding-top: 86px;
	font-size: 62.5%;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
