@media (min-width: 992px) {
    .ofert {
        &__table {
    
            &__title {
                font-size: 3rem;
            }
    
            &__head {
    
                &__times{
                    font-size: 1.8rem;
                }
    
                & .desktop {
                    font-size: 2.2rem;
                }
            }
    
            &__body {
    
                &__title {
                    font-size: 2rem;
                }
    
                &__text {
                    font-size: 1.8rem;
                }
    
                & .ofert__price {
                    font-size: 2rem;
                }
            }
    
        }
    }
}