@media (min-width: 576px) {
	.ofert {
		align-items: center; // new

		&__table {
            &__title {
                margin: 1rem 0;
            }

			&__head {

				& .mobile {
					display: none; //new
				}

				& .desktop {
					display: inline-block; //new
				}
			}

			&__body {
				&__title {
					margin: 1rem 0; // new
				}

				&__elements {

					&--mobile-box {
						display: none; //new
					}

					&--desktop-box {
						display: inline-block; //new
                        text-align: start; //new
					}
				}

				& .ofert__price {
                    width: 13%; //new
				}
			}
		}
	}

}
