@use './_reset' as *;
@use './_components' as *;

.nav {
    position: relative;
    background-color: $secondColor;
    z-index: 100;

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__logo {
            img {
                margin: 2rem;
                width: 60px;
            }
        }

        &__menu {
            &__burger {
                margin: 0 1rem;
                cursor: pointer;

               &--icon {
                padding: 1rem;
                font-size: 4rem;
                border: solid 1px transparent;
                border-radius: 8px;
                pointer-events: none;
                transition: color .3s, border-color .3s;
               }

               &:hover > &--icon {
                color: $firstcolor;
                border-color: $firstcolor;
               }
            }

            &__elements {
                display: none;
                position: absolute;
                padding: 2rem;
                left: 0;
                bottom: -100%;
                width: 100%; 
                flex-direction: column;
                align-items: center;
                background-color: $secondColor;
                transform: translateY(55%);
                z-index: -1;

                a {
                    font-size: 2.5rem;
                    margin: .5rem;
                    padding: 1rem;
                    letter-spacing: 1.5px;
                    color: $darkcolor;
                    border-radius: 8px;
                    transition: background-color .3s;

                    &:hover {
                        background-color: $firstcolor;
                    }
                }

                &--open {
                    display: flex;
                }
            }
        }
    }
}









.cookie {
	width: 100%;
	background-color: $thirdColor;
	position: fixed;
	bottom: 0;
	box-shadow: 0px 5px 25px 5px rgba(66, 68, 90, 1);

	&__box {
		padding: 2rem;
		font-size: 1.4rem;
		opacity: 0;
		transform: translateY(100%);
		animation: show-cookies 0.5s 0.5s forwards;
        text-align: center;

		&--text {
            color: #333;
			padding-bottom: 2rem;
            font-family: "Montserrat", sans-serif;
            line-height: 25px;
		}
	}
}

.disclaimer__text {
	padding-top: 2rem;
}

.cookie__btn,
.disclaimer__btn {
	padding: 1rem 2rem;
	margin: 1rem;
	background-color: $secondColor;
	border: 1px solid $firstcolor;
	border-radius: 12px;
	box-shadow: 0 12px 30px rgba(000, 000, 000, 0.2);
	font-size: 1.4rem;
	letter-spacing: 1.2px;
	text-transform: uppercase;
}

.hide-cookies {
	display: none;
}

@keyframes show-cookies {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}