@use './_reset' as *;
@use './_components' as *;

.nav {
    position: fixed;
    width: 100%;
    background-color: $secondColor;
    box-shadow: 0 0 10px $firstcolor;
    z-index: 100;

    &__box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__logo {
            img {
                margin: 2rem;
                width: 60px;
            }
        }

        &__menu {
            &__burger {
                margin: 0 1rem;
                cursor: pointer;

               &--icon {
                padding: 1rem;
                color: #333;
                font-size: 4rem;
                border: solid 1px transparent;
                border-radius: 8px;
                pointer-events: none;
                transition: color .3s, border-color .3s;
               }

               &:hover > &--icon {
                color: $firstcolor;
                border-color: $firstcolor;
               }
            }

            &__elements {
                display: none;
                position: absolute;
                padding: 2rem;
                left: 0;
                bottom: -100%;
                width: 100%; 
                flex-direction: column;
                align-items: center;
                background-color: $secondColor;
                border-bottom: solid 1px $firstcolor;
                transform: translateY(55%);
                z-index: -1;

                & a {
                    font-size: 2.5rem;
                    margin: .5rem;
                    padding: 1rem;
                    letter-spacing: 1.5px;
                    color: $darkcolor;

                    &:not(a:first-child) {
                        transition: background-color .3s;
                        border-radius: 12px;
                    }

                    &:hover:not(a:first-child) {
                        background-color: $firstcolor;
                    }

                    &:first-child {
                        display: none;
                        margin-right: 2rem;
                        border-radius: 20px;
                        background-color: $firstcolor;
                        transition: background-color .3s, transform .3s;
    
                        &:hover {
                            transform: scale(1.1);
                            background-color: $lightFirstColor;
                        }
                    }
                }

                & .facebook {
                    color: rgb(36, 36, 201);
                    & i {
                        font-size: 2.5rem;
                    }
                }

                &--open {
                    display: flex;
                }
            }
        }
    }
}

header{
    height: 100vh;
}

main {
    & section {
        padding: 4rem 2rem;
    }
}

.information {
    background-color: $thirdColor;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 20rem;

        &--title {
            padding: 2rem;
            font-size: 4rem;
            text-transform: uppercase;
            letter-spacing: 5px;
        }

        &--text {
            margin-bottom: 3rem;
            padding: 1rem;
            letter-spacing: 1.2px;
            line-height: 20px;
        }

        & .downloand--file {
            font-size: 2rem;
        }
    }
}

.target {

    &--title {
        padding: 2rem 0;
        font-size: 3rem;
        letter-spacing: 1.1px;
        text-align: center;
        text-transform: uppercase;
    }

    &--text {
        padding: 1rem 0;
        font-size: 1.8rem;
        letter-spacing: 1.2px;
        line-height: 28px;
    }
}

.ofert {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $darkcolor;
    padding: 4rem 2rem;

    & th {
        padding: 1rem;
    }

    &__title {
        font-size: 3rem;
        text-transform: uppercase;
        color: $firstcolor;
    }

    &__table {
        margin: 4rem 0;
        border-collapse: collapse;
        color: $thirdColor;
        letter-spacing: 1.3px;

        &__title {
            padding: 2rem 0;
            font-size: 2.4em;
            color: $firstcolor;
            text-align: center;
            text-transform: uppercase;
        }

        &__head {
            &--name {
                font-size: 2rem;
            }

            &__times{
                font-size: 1.4rem;
                font-weight: bold;

                & th {
                    text-align: center;
                }
            }

            & .desktop {
                display: none;
                font-size: 2rem;
                font-weight: 400;
            }
        }

        &__body {

            &__title {
                margin: 1rem;
                font-size: 1.8rem;
                font-weight: bold;
                color: $firstcolor;
            }

            &__text {
                font-size: 1.6rem;
                line-height: 20px;
            }

            &__elements {
                border-bottom: 1px solid $secondColor;

                &--desktop-box {
                    display: none;
                }

            }

            & .ofert__price {
                font-size: 1.7rem;
            }
        }

    }
}

.footer {
    padding: 4rem 2rem;
    width: 100%;
    background-color: $secondColor;
    box-shadow: 0 0 10px $firstcolor;

    &__contact{
        &--title {
            padding-bottom: .5rem;
            font-size: 2.5rem;
            font-weight: bold;
            text-transform: uppercase;
            color: $darkcolor;
            letter-spacing: 1.2px;
        }

        &--text {
            padding: .5rem 0;
            letter-spacing: 1.1px;
        }

        &__box{
            display: flex;
            flex-direction: column;

            &__links {
                text-align: center;
                font-size: 1.8rem;

                &__elements {
                    padding: 2rem 0 1rem 0;
                    display: flex;
                    flex-direction: column;
                    color: $darkcolor;

                    & a {
                        padding: .5rem;
                        border-radius: 8px;
                        transition: background-color .3s;
                        &:hover {
                            background-color: $firstcolor;
                        }
                    }
                }
            }

            &__downloand {
                display: flex;
                justify-content: center;
                padding: 2rem 0;
                order: 3;

                & .downloand--file {
                    &:first-child {
                        margin-right: 1rem;
                    }
                }
            }
        }

        &__map {
            & iframe {
                width: 100%;
                height: 300px;
            }
        }

        &__nav {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding: 2rem 0;
            font-size: 1.4rem;
            gap: 10px;

            & a {
                padding: .5rem;
                color: $darkcolor;
                border-radius: 8px;
                transition: background-color .3s;
                &:hover {
                    background-color: $firstcolor;
                }
            }
        }
    }

    &__copyright{
        padding-top: 2rem;
        text-align: center;
    }
}


@keyframes show-cookies {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@import './_small';
@import './_medium';
@import './_large';