@media (min-width: 1200px) {
	.nav {
		padding-bottom: 0;
		&__box {
			flex-direction: row;
			&__menu {
				&__elements {
					& a {
						&:first-child {
							display: inline-block;
						}
					}
				}
				&__burger {
					&--icon {
						display: none;
					}
				}

				&__elements {
					display: flex;
					position: relative;
					padding: 0 2rem;
					bottom: 0;
					width: 100%;
					flex-direction: row;
					border-bottom: solid 0px $firstcolor;
					transform: translateY(0);
					z-index: 90;
				}
			}
		}
	}

	.hero {
		min-height: 500px;
	}

	.voucher {
		.hero {
		min-height: 350px;
		}

		&__box {
			min-height: 10rem;

		}
	}
}
