@media (min-width: 992px) {

	.nav {
		padding-bottom: 2rem;
		&__box {
			flex-direction: column;
			&__menu {

				&__elements {
					& a {
						&:first-child {
							display: inline-block;
						}
					}
				}
				&__burger {
					&--icon {
						display: none;
					}
				}

				&__elements {
					display: flex;
					position: relative;
					padding: 0 2rem;
					bottom: 0;
					width: 100%;
					flex-direction: row;
					border-bottom: solid 0px $firstcolor;
					transform: translateY(0);
					z-index: 90;

					& a {
						font-size: 1.8rem;
					}
				}

				.aplications {
					display: flex;
				}
			}
		}
	}

	.header {
		background-image: url('../img/hero_new.webp');
		&--title {
			font-size: 10rem;
			letter-spacing: 25px;
		}
	}

	.hero {
		min-height: 402px; // 700
		background-image: url('../img/hero2.webp');
		background-attachment: fixed;

		&--title {
			font-size: 6rem;
		}
	}

	.description {

		&-grid {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
			grid-template-rows: 1fr 1fr; 
			gap: 20px 40px;
			grid-auto-flow: row;

			&1 { grid-area: 1 / 1 / 2 / 3; }
			&2 { grid-area: 1 / 3 / 2 / 5; }
			&3 { grid-area: 1 / 5 / 2 / 7; }
			&4 { grid-area: 2 / 1 / 3 / 4; }
			&5 { grid-area: 2 / 4 / 3 / 7; }
		}

		.title-grid {
			margin: 1rem 0;
			font-size: 2.2rem;
			font-weight: bold;
			text-align: center;
			letter-spacing: 4px;
			color: $firstcolor;
			text-transform: uppercase;
		}

		.text-grid {
			line-height: 25px;
		}

	&-text {
		margin-top: 2rem;
		text-align: center;
		& p {
			font-size: 2rem;
			line-height: 25px;
		}
	}
}

	.ayurveda {

		&__box {		
			&--text {
				line-height: 25px;
			}

			&__second {
				margin-top: 1rem;

				&--title {
					font-size: 3rem;
				}

				&__elements {
					display: flex;
					justify-content: center;

					&--text {
						width: 40%;
						min-height: 100px;
					}
		
					& p:first-child {
						margin-bottom: 0;
						margin-right: 2rem;
					}
				}
			}
		}
	}

	.target {
		&--title {
			font-size: 4rem;
		}

		.target {
			&__box {
				&--img {
					& img {
						width: 80%;
					}
				}
			}
		}
	}

	.ofert {
		&__table {
			&__title {
				font-size: 3rem;
			}

			&__head {
				&__times {
					font-size: 1.8rem;

				}

				& .desktop, &__times th {
					font-size: 2.2rem;
				}
			}

			&__body {
				&__title {
					font-size: 2rem;
				}

				&__text {
					font-size: 1.8rem;
				}

				& .ofert__price {
					font-size: 2rem;
				}
			}
		}
	}

	.question {
		&--title {
			font-size: 4rem;
		}
	}

	.footer {
		&__contact {
			&--text {
				font-size: 1.8rem;
			}
			&__box {
				&__links {
					&__elements {
						margin: 0 2rem;
					}
				}
			}
		}

		&__copyright {
			& p {
				font-size: 1.4rem;
			}
		}
	}
}
