@media (min-width: 768px) {
	.target {
		&__box {
			flex-direction: row;
	
			&--img {	
				width: 45%;
				& img {
					display: inline-block;
				}
			}

			&--text {
				width: 45%;
			}
		}
	}

	.description {
		&-grid {
			display: grid;
			grid-template-columns: 1fr 1fr; 
			grid-template-rows: 1fr 1fr 1fr; 
			gap: 20px 20px;
			grid-auto-flow: row;
			&5 { grid-area: 3 / 1 / 4 / 3; 
				text-align: center;}
		}

		.title-grid {
			margin: 1rem 0;
			font-size: 2.2rem;
			font-weight: bold;
			text-align: center;
			letter-spacing: 4px;
			color: $firstcolor;
			text-transform: uppercase;
		}

		.text-grid {
			line-height: 25px;
		}

	&-text {
		margin-top: 0;
		text-align: center;
		& p {
			font-size: 2rem;
			line-height: 25px;
		}
	}
}

	.footer {
		&__contact {
			&__box {
				flex-direction: row;
				justify-content: flex-start;
				padding-bottom: 2rem;

				&__links {
					&__elements {
						padding-bottom: 0;
					}
				}

				&__downloand {
					flex-direction: column;
					justify-content: flex-start;
					margin: 0 0 0 4rem;
					padding: 0;
				}
			}
		}

		.downloand--file {
			margin: 0.5rem 0;
			width: 200px;

			&:first-child {
				margin-right: 0;
			}
		}
	}
}
